/*TODO simplify, use sass*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px black solid;*/
}

:root {
    --dark: #140078;
    --light: #8559da;
    --primary: #512da8;
    --offwhite: #eeeeee;
    --text-dark: #494949;
    --text-light: #757575;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--primary);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/*calculator box*/
.wrapper {
    width: 20em;
    margin: auto auto;
    /*overflow: hidden;*/
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/*screen area*/
.top {
    background-color: var(--offwhite);
    color: var(--text-dark);
}

.screen {
    /*height: 15em;*/
}

.screen > div {
    text-align: right;
    padding: 0.375em;
}

.screen .input {
    height: 70%;
    font-size: 1.5em;
    color: var(--text-dark);
}

.screen .result {
    height: 30%;
    font-size: 1em;
    color: var(--text-light);
}

/*button area*/
.bottom {
    color: var(--offwhite);
    display: flex;
    height: 15em;
}

/*number buttons*/
.btn-main {
    background-color: var(--light);
    flex-basis: 80%;
    display: flex;
}

/*operator buttons*/
.btn-right {
    background-color: var(--dark);
    color: var(--offwhite);
    flex-basis: 20%;
    display: flex;
}

.btn-main .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-right .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-main .column span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-right .column span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom span {
    padding: 0.5em;
}

.bottom span:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
