/*TODO simplify, use sass*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px black solid;*/
}

:root {
    --dark: #140078;
    --light: #8559da;
    --primary: #512da8;
    --offwhite: #f5f5f6;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--primary);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/*calculator box*/
.wrapper {
    width: 20em;
    margin: auto auto;
    /*overflow: hidden;*/
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/*screen area*/
.top {
    background-color: var(--offwhite);
    color: #000;
    height: 5em;
}

/*button area*/
.bottom {
    color: #FFF;
    display: flex;
    height: 15em;
}

/*number buttons*/
.btn-main {
    background-color: var(--light);
    flex-basis: 80%;
    display: flex;
}

/*operator buttons*/
.btn-right {
    background-color: var(--dark);
    flex-basis: 20%;
    display: flex;
}

.btn-main .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-right .column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-main .column span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-right .column span {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*columns of buttons*/
.column {

}

.bottom {
    text-align: center;
}

.bottom span {
    /*padding: 0.5em;*/
}

.bottom span:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
